.App {
  display: flex;
  background-image: url('./Images/back.jpg');
  background-position-x: 100%;
  font-size: calc(10px + 2vmin);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: rgb(226, 214, 214);
}
